infsh
pydantic>=2.0.0
diffusers==0.31.0
huggingface_hub==0.26.0
numpy==1.22.4
opencv_contrib_python==4.9.0.80
opencv_contrib_python_headless==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.7.0.72
Pillow==11.1.0
git+https://github.com/sberbank-ai/Real-ESRGAN.git
torch==2.5.1
